<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjljy.fastboot.mapper.sys.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hjljy.fastboot.pojo.sys.po.SysMenu">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="menu_type" property="menuType"/>
        <result column="menu_name" property="menuName"/>
        <result column="perms" property="perms"/>
        <result column="sort" property="sort"/>
        <result column="menu_channel" property="menuChannel"/>
        <result column="menu_path" property="menuPath"/>
        <result column="visiable" property="visiable"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , pid, menu_type, menu_name, perms, sort, menu_channle, menu_path, visiable, create_time, update_time, status
    </sql>
    <select id="getUserMenuListInfo" resultType="cn.hjljy.fastboot.pojo.sys.po.SysMenu">
        SELECT DISTINCT m.*
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
                 LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 LEFT JOIN sys_role r on r.id = ur.role_id
                 LEFT JOIN sys_user u ON u.id = ur.user_id
        WHERE u.id = #{userId}
          and m.status = 0
          and rm.status = 0
          and u.status = 0
          and r.status = 0
        ORDER BY m.sort;
    </select>
    <select id="getOrgMenuListByOrgId" resultType="cn.hjljy.fastboot.pojo.sys.po.SysMenu">
        SELECT DISTINCT m.*
        FROM sys_menu m
                 LEFT JOIN sys_org_menu rm ON m.id = rm.menu_id
        WHERE rm.org_id = #{orgId}
          and m.status = 0
          and rm.status = 0
        ORDER BY m.sort;
    </select>

</mapper>
