<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjljy.fastboot.mapper.sys.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hjljy.fastboot.pojo.sys.po.SysRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, sort, create_time, update_time, status
    </sql>

    <select id="selectUserRoleInfoByUserId" resultType="cn.hjljy.fastboot.pojo.sys.po.SysRole">
        SELECT DISTINCT r.*
        FROM sys_role r
                 LEFT JOIN sys_user_role ur on r.id = ur.role_id
                 LEFT JOIN sys_user u ON u.id = ur.user_id
        WHERE u.id = #{userId}
          and r.org_id = #{orgId}
          and r.status = 0
          and ur.status = 0
          and u.status = 0;
    </select>

    <select id="selectUserRoleInfoByUserIds" resultType="cn.hjljy.fastboot.pojo.sys.dto.SysRoleDto">
        SELECT DISTINCT
        r.*,
        ur.user_id
        FROM sys_role r
        LEFT JOIN sys_user_role ur on r.id = ur.role_id
        LEFT JOIN sys_user u ON u.id=ur.user_id
        WHERE r.status =0 and ur.status=0 and u.status = 0 and u.id in
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

</mapper>
